<html>
    <title>wrong_p</title>
    <head>
        
            <style>
                    #a{
    background-image:url("/static/w1.jpg");
    height: 100vh;
  background-size:cover;
  background-position:top;
  
}
#x{
    font-weight: 1000;
    font-size: 50px;
    color: white;
    
}
                 </style>
    </head>
    <body id="a" >
        <br/><br/><br/><br/><br/><br/><br/><br/><br/>
        
        <br/><br/><br/>
        <br/><br/><br/>
        <br/><br/><br/>
        <p align='center' id="x">Click <a href="/home" style="color:gold">here</a> to go back.</p>

    </body>
</html>